/* Global */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #3377aa;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background: #a6c0fe;
}

a {
    cursor: pointer;
}

li {
    list-style: none;
}

h1 {
    word-wrap: break-word;
    font-weight: bold;
    line-height: 1.1;
}

.button {
    margin: 0;
    border: 0;
    width: 145px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
}

/* Login */
#loginBox {
    padding: 20px 50px;
    background-color: darkblue;
    text-align: center;
    width: 500px;
    height: 400px;
}

#loginBox h1 {
    padding: 0;
    padding-top: 60px;
    color: white;
    font-size: 30px;
}

#loginBox .inputBox {
    margin-top: 30px;
}

#loginBox .inputText {
    margin-top: 20px;
}

#loginBox .inputText span {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

#loginBox .inputText input {
    border: 0;
    padding: 6px;
    border-bottom: 1px solid white;
    background-color: #FFFFFF00;
    color: white;
}

#loginBox .button {
    margin-top: 40px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: white;
}

@keyframes btnAnimate {
    from {
        border: 2px solid #fff;
    }

    to {
        border: 1px solid rgba(255, 255, 255, 0);
    }
}

#loginBox .button:hover {
    content: '';
    animation: btnAnimate 3s ease;
    transition: all 0.5s ease;
}

#sign-up {
    margin-top: 20px;
    color: white;
    font-size: 17px;
}

#sign-up a {
    color: #3498db;

}

.inputCode {
    padding-left: 80px;
}

.sendCode {
    color: white;
    margin-left: 5px;
}

/* BookCard */
.bookCard {
    width: 100%;
}

.bookInfo {
    width: 100%;
    height: auto;

    vertical-align: middle;
}

.bookTitle {
    text-align: left;
    margin-bottom: 20px;
    font-size: 200%;
}

.bookImg {
    float: left;
    margin: 0px 12px 0 0;
    vertical-align: middle;
    /* border: 1px solid; */
}

.bookImg img {
    width: 150px;
    height: 200px;
}

.bookIntro {
    float: left;
    text-align: left;
    color: #666666;
    width: 250px;
    /* border: 1px solid; */
}

.bookInfoItem {
    list-style: none;
    margin-bottom: 6px;
}

.bookStar {
    float: left;
    border-left: 1px solid rgb(234, 234, 234);
    padding-left: 15px;
    margin-left: 5px;
}

.ratingLogo {
    text-align: left;
    color: #666666;
}

.ratingBody {
    height: 75px;
}

.ratingLeft {
    float: left;
    color: #494949;
    font-weight: normal;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ratingRight {
    float: left;
    padding-left: 15px;
}

.bigStar45 {
    display: inline-block;
    width: 150px;
    height: 22px;
    background: url(../assets/ic_rating_m@2x.png) no-repeat;
    background-size: 118px 260px;
    background-position: 0 -25px;
    overflow: hidden;
    margin-top: 5px;
}

.ratingNum {
    text-align: left;
}

.ratingGrade {
    display: block;
    list-style: none;
    text-align: left;
    font-size: 15px;
    color: #9b9b9b;
    height: 20px;
}

.ratingGradeStar {
    float: left;
}

.ratingGradeImg {
    position: relative;
    top: 2px;
    height: 15px;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    background: #ffd596 none repeat scroll 0 0;
}

.ratingGradePerc {
    position: relative;
    top: 2px;
}

.bookFav {
    height: 20px;
}

.bookFavComment {
    float: left;
}

.bookFavStar {
    float: left;
}

.bookFavStarList {
    list-style: none;
    float: left;
}

.bookFavImg {
    position: relative;
    top: 3px;
}

.rateWord {
    float: left;
    margin-left: 3px;
    font-size: 15px;
    color: #999;
}

.bookCommentLink {
    margin-top: 10px;
    height: 50px;
}

.bookWriteLink {
    float: left;
    list-style: none;
    margin-right: 25px;
}

.bookWriteWord {
    margin-left: 6px;
    cursor: pointer;
    text-decoration: none;
}

.bookWriteWord:hover {
    background-color: #a6c0fe;
}

.relatedInfoBlock {
    text-align: left;
    margin-bottom: 20px;
}

.relatedInfoTitle {
    color: #007722;
    font-size: 18px;
    height: 50px;
}

/* Comment */
.commentCard {
    word-wrap: break-word;
    line-height: 1.5;
    overflow: hidden;
}

.commentNav {
    height: 30px;
}

.commentThumb {
    float: right;
}

.commentUser {
    text-decoration: none;
    color: #3377aa;
    float: left;
}

.commentStar {
    position: relative;
    float: left;
    margin-left: 10px;
    top: 3px;
}

.commentItem {
    list-style: none;
    padding: 18px 0;
    border-top: 1px solid rgb(234, 234, 234);
}

.commentDate {
    color: #aaa;
    margin-left: 3px;
}

.writeContent {
    margin-left: 33%;
    margin-right: 33%;
}

/* Topics */
.topicContent {
    padding: 20px 24px 20px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.15);
}

.topicIcon {
    width: 35px;
    height: 35px;
    float: left;
}

.topicNav {
    height: 40px;
}

.topicTitle {
    float: left;
}

.topicFollow {
    float: right;
    position: relative;
    bottom: 3px;
}

.topicCounter {
    text-align: left;
    color: #999999;
    font-size: 13px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.topicWord {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.topicFoot {
    margin-top: 20px;
    height: 25px;
}

.topicFootItem {
    width: 33%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
}

.topicFootCommentIcon {
    width: 20px;
    height: 20px;
}

.topicFootCommentTag {
    position: relative;
    bottom: 6px;
    margin-left: 3px;
}

.topicFootLast {
    border: none;
}

.topicTransition {
    padding-top: 30px;
    padding-bottom: 20px;
    height: 20px;
}

.topicTransitionSlash {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.topicTransitionLeft {
    float: left;
    font-size: 15px;
}

.topicTransitionRight {
    float: right;
    color: #999;
    font-size: 15px;
}

.topicComment {
    text-align: left;
}

.topicNow {
    cursor: default;
    color: black;
}

.topicWait {
    cursor: pointer;
    color: #3377aa;
}

/* Home */
.homeNav {
    background-image: url(../assets/homePhone.jpg);
    background-color: #edf4ed;
    background-size: contain;
    background-position: calc(50% - 305px) top;
    background-repeat: no-repeat;
    height: 300px;
}

.homeNavLogin {
    width: 20%;
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}

.homeLoginIn {
    margin-bottom: 10px;
}

.homeFoot {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.homeICP {
    margin-top: 20px;
    color: #999;
    font: 12px Helvetica, Arial, sans-serif;
}